{% extends "./layouts/base.html" %}

{% block content %}
<main class="container">

  <ol id="post-entries">
    {% for article in articles | reverse %}
    <li>
      <article class="post-entry">
        <header>
          <h2>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
              {{ article.title }}
            </a>
          </h2>
        </header>
        <!-- <footer>
          <time datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
          </time>
        </footer> -->
        <main>
          {{ article.description }}
        </main>
      </article>
    </li>
    {% endfor %}
  </ol>

</main>
{% endblock %}
