<aside>
  <div class="cards">

    {% if SOCIAL %}
    <section>
      <div class="card social">
        <h3>elsewhere</h3>
        <ul>
          {% for title, url in SOCIAL %}
          <li><a href="{{ url }}" target="_blank">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endif %}

    {% if AFFILIATES %}
    <section>
      <div class="card affiliate">
        <h3>affiliate</h3>
        <ul>
          {% for slogan, image, url in AFFILIATES %}
          <li>
            <a href="{{ url }}" target="_blank">
              <img src="{{ SITEURL }}/images/{{ image }}" alt="{{ image }}">
              <p>{{ slogan }}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endif %}

  </div>
</aside>
