<nav>
  <details open>
    <summary>pages</summary>
    <ul>
      {% for page in pages %}
      <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </details>
  <details open>
    <summary>legal</summary>
    <ul>
      <li><a href="{{ SITEURL }}/legal/">legal</a></li>
      <li><a href="{{ SITEURL }}/privacy/">privacy</a></li>
    </ul>
  </details>
  <details open>
    <summary>elsewhere</summary>
    <ul>
      {% for title, url in SOCIAL %}
      <li><a href="{{ url }}" target="_blank">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </details>
  <details open>
    <summary>donate</summary>
    <ul>
      {% for title, url in LINKS %}
      <li><a href="{{ url }}" target="_blank">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </details>
</nav>
